<div class="container-fluid" style="background-color: whitesmoke;">
    <div class="content" fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">    
        <div fxFlex="50" fxFlex.lt-md="100">
                <form [formGroup]="loginForm" novalidate>
                    <h2>Login</h2> 
                    <mat-form-field>
                        <mat-label style="color:whitesmoke"><i class="fa fa-envelope"></i>Email</mat-label>
                        <input type="text" id="email" formControlName="email" placeholder="" matInput>
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.email"><i class="fa fa-exclamation-triangle"></i>{{formErrors.email}}</mat-error>
                    <mat-form-field>
                        <mat-label style="color:whitesmoke"><i class="fa fa-key"></i>Password</mat-label>
                        <input type="text" id="password" formControlName="password" placeholder="" matInput>
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.password"><i class="fa fa-exclamation-triangle"></i>{{formErrors.password}}</mat-error>
                    <button mat-button class="btn btn-danger login-btn"><b>Login</b></button><br>
                    <div  style="text-align: right;"><a href="">Forgot Password?</a></div><br><br>
                    <div style="color:whitesmoke;"><i>New to the System? &nbsp;</i> <button class="btn btn-success">Register Here</button></div>            
                </form>
        </div>


        <hr>
        <div fxFlex="50" fxFlex.lt-md="100">
            
        </div>
    </div>
</div>
