<div class="container-fluid" style="background-color: whitesmoke;">
    <div class="content" fxFlex="100" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">    
        <div fxFlex="50" fxFlex.lt-md="100">
                <form [formGroup]="loginForm" novalidate>
                    <h2>Login</h2> 
                    <mat-form-field>
                        <mat-label style="color:whitesmoke"><i class="fa fa-envelope" style="margin-right: 2px"></i>Email</mat-label>
                        <input type="text" id="email" formControlName="email" placeholder="" matInput>
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.email"><i class="fa fa-exclamation-triangle"></i>{{formErrors.email}}</mat-error>
                    <mat-error *ngIf="emailMess"><i class="fa fa-exclamation-triangle"></i>{{emailMess}}</mat-error>
                    <mat-form-field style="margin-top: 15px;">
                        <mat-label style="color:whitesmoke"><i class="fa fa-key" style="margin-right: 2px"></i>Password</mat-label>
                        <input type="password" id="password" formControlName="password" placeholder="" matInput>
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.password"><i class="fa fa-exclamation-triangle"></i>{{formErrors.password}}</mat-error>
                    <mat-error *ngIf="passwordMess"><i class="fa fa-exclamation-triangle"></i>{{passwordMess}}</mat-error>
                    <div>
                        <button mat-button (click)="login()" class="btn btn-danger login-btn">
                            <b [ngStyle]="{'display':showLoginBtn}">Login</b>
                            <!--progress spinner -->
                            <mat-spinner [ngStyle]="{'display':spinning}" [diameter]="30" strokeWidth="10"></mat-spinner>
                        </button>
                        
                    </div>
                    <div  style="text-align: right;"><a >Forgot Password?</a></div><br><br>
                    <mat-error id="serverErr" *ngIf="serverErr"><i class="fa fa-exclamation-triangle"></i>Internal server error occur, try again later.<br><br> </mat-error>
                    <div style="color:whitesmoke;">
                        <i>New to the System? &nbsp;</i>
                        <button class="btn btn-success"  [routerLink]="['/signup']">Register Here</button>
                    </div>            
                </form>
        </div>


        <hr>
        <div fxFlex="50" fxFlex.lt-md="100">
            
        </div>
    </div>
</div>



<!--manu Modal -->
<div id="overlay" [ngStyle]="{'display':overlay}"></div>
    <div class="container">
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
            <div class="modal-content">
                <div class="modal-body">
                    <button *ngIf="startquiz" class="btn btn-danger option_button" (click)="startTest()">START TEST</button>
                    <h4 *ngIf="displayScore">You have taken your test! <br> Your Score: {{score}}</h4><br>
                    <button *ngIf="displayScore" class="btn btn-danger" (click)="closeMenuModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
