
<div class="container">
    <form [formGroup]="questionForm" (ngSubmit)="addQuestion()" style="margin-top: 5%;"  novalidate>
        <div  class="form-header">
            <h3>QUESTION SECTION</h3>
        </div>
        <div layout="row">
            <mat-form-field style="width: 10%;">
                <input type="text" class="" id="num" formControlName="num" placeholder="S/N" matInput>
            </mat-form-field>
            <mat-form-field style="width: 70%;">
                <input type="text" class="" id="question" formControlName="question" placeholder="QUESTION" matInput>
            </mat-form-field>
        </div>
        <p>
            
            <mat-form-field class="half-width">
                <span matPrefix>A &nbsp;</span>
                <input type="text" class="" id="option1" formControlName="option1" placeholder="OPTION1" matInput minlength="2">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <span matPrefix>B &nbsp;</span>
                <input type="text" class="" id="option2" formControlName="option2" placeholder="OPTION2" matInput>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <span matPrefix>C &nbsp;</span>
                <input type="text" class="" id="option3" formControlName="option3" placeholder="OPTION3" matInput>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <span matPrefix>D &nbsp;</span>
                <input type="text" class="" id="option4" formControlName="option4" placeholder="OPTION4" matInput>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input type="text" class="" id="corr_ans" formControlName="corr_ans" placeholder="CORRECT ANSWER" matInput>
            </mat-form-field>
        </p>
        <div fxLayout="row">
            <mat-form-field class="min-width">
                <input type="text" class="" id="ans1" formControlName="ans1" placeholder="ANSWER1" matInput>
            </mat-form-field>
            <mat-form-field class="min-width">
                <input type="text" class="" id="ans2" formControlName="ans2" placeholder="ANSWER2" matInput>
            </mat-form-field>
    
            <mat-form-field class="min-width">
                <input type="text" class="" id="ans3" formControlName="ans3" placeholder="ANSWER3" matInput>
            </mat-form-field>
            <mat-form-field class="min-width">
                <input type="text" class="" id="ans4" formControlName="ans4" placeholder="ANSWER4" matInput>
            </mat-form-field>
        </div>
        <p>
            <button mat-button type="submit" class="btn btn-primary">Register</button> &nbsp;
        </p>
    </form>
</div>

<div class="container" id="spinner" [ngStyle]="{'display':spinning}" >
    <mat-spinner></mat-spinner>
    <h4>Saving.....</h4>
</div>


<div id="overlay" [ngStyle]="{'display':overlay}"></div>

<div *ngIf="errorMsg" class="modal container"  tabindex="-1" role="dialog" [ngStyle]="{'display':errMsg}">
    <div class="modal-content">
        <div class="modal-body">
            <h5 class="modal-title" style="color: maroon">Error</h5><br>
            <mat-error class="fa fa-exclamation-triangle" style="text-align:center; font-size: 18px;" >{{ errorMsg }}</mat-error>
            <button  class="btn btn-warning" (click)="closeErrorPopup()" style="float: right;">Ok</button>
        </div>
    </div>
</div>

<div *ngIf="successMsg" style="max-width: 600px;" class="modal container" tabindex="-1" role="dialog" [ngStyle]="{'display':succMsg}">
    <div class="modal-content">
        <div class="modal-body">
            <h5 class="modal-title" style="color:seagreen">Success</h5><br>
            <div class="fa fa-check-circle" style="text-align: center; font-size: 18px; color: seagreen;">{{ successMsg }}</div>
            <button class="btn btn-success" (click)="closeSuccessPopup()" style="float: right;">Ok</button>
        </div>
    </div>
</div>
