<app-header></app-header>
<div  class="container-fluid">
    <div fxFlex="100">
        <div fxFlex="35" fxFlex.lt-sm="15" fxFlex.sm="25" fxFlex.md="35"></div>
        <div fxFlex="30" fxFlex.lt-sm="70" fxFlex.sm="50" fxFlex.md="30" class="form-data">
            <form [formGroup]="passwordResetForm" fxLayout="column" novalidate>
                <span>Enter your email address and we will send you a new password.</span>
                <label for="email"><b>Email</b></label>
                <input formControlName="email" id="email">
                <button type="submit" class="bg-primary" (click)="submit()" [disabled]="passwordResetForm.invalid" mat-button>
                    <b [ngStyle]="{'display':showBtn}">Reset password</b>
                            <!--progress spinner -->
                    <mat-spinner [ngStyle]="{'display':spinning}" [diameter]="30" strokeWidth="10"></mat-spinner>
                </button>
            </form>
            <div *ngIf="errMess" class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp;{{errMess}}</div>
            <div *ngIf="succMess" class="alert alert-success"><i class="fa fa-check-circle"></i>&nbsp;{{succMess}}</div>
            <a [routerLink]="['/login']" class="link">Back to login</a>
        </div>
        <div fxFlex="35" fxFlex.lt-sm="15" fxFlex.sm="25" fxFlex.md="35"></div>
    </div>
</div>



