:host {
    width: 100vw; 
	height: 100vh; 
	left: 0; 
	top: 0;
    background-color: whitesmoke;
    position: fixed;
}

form {
    margin: 7%;
}

form button {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}

form label {
    margin-top: 10px;
}

form input:focus {
    box-shadow: 1px 1px 2px 2px rgb(151, 143, 143);
    border-style: hidden;
    outline: none;
}

.form-data {
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgb(151, 143, 143);
    height:fit-content;
    width: fit-content;
    position: relative;
    top: 50%;
}

.alert {
    font-size: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin: 7%;
}

mat-spinner {
	margin: 0 auto;
    color: black;
}

.link {
    margin: 5px;
    color: black;
    font-weight: bold;
}