<app-header></app-header>
<div class="container-fluid">
    <div fxFlex.gt-sm="70" class="form-content" fxFlex="100">
        <form [formGroup]="signupForm" #sform="ngForm" (ngSubmit)="register()" novalidate>
            <div  class="form-header">
                <h3>REGISTER FOR YOUR EXAMS</h3>
            </div>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input type="text" class="" id="firstname" formControlName="firstname" matInput>
                </mat-form-field>
                <mat-error *ngIf="(f['firstname'].touched || f['firstname'].dirty) && f['firstname'].invalid">
                    <small *ngIf="f['firstname'].errors?.['minlength'] && !f['firstname'].errors?.['pattern']">
                        First name should be at least 2 character long.
                    </small>
                    <small *ngIf=" f['firstname'].errors?.['required']">
                        First name is required.
                    </small>
                    <small *ngIf=" f['firstname'].errors?.['pattern']">
                        First name must contain only alphabets.
                    </small>
                </mat-error>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input type="text" class="" id="lastname" formControlName="lastname"  matInput minlength="2">
                </mat-form-field>
                <mat-error *ngIf="(f['lastname'].touched || f['lastname'].dirty) && f['lastname'].invalid">
                    <small *ngIf="f['lastname'].errors?.['minlength'] && !f['lastname'].errors?.['pattern']">
                        Last name should be at least 2 character long.
                    </small>
                    <small *ngIf=" f['lastname'].errors?.['required']">
                        Last name is required.
                    </small>
                    <small *ngIf=" f['lastname'].errors?.['pattern']">
                        Last name must contain only alphabets.
                    </small>
                </mat-error>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" class="" id="middlename" formControlName="middlename" matInput>
                </mat-form-field>
                <mat-error *ngIf="f['middlename'].dirty">
                    <small *ngIf="f['middlename'].errors?.['pattern']">
                        Middle name must contain only alphabets.
                    </small>
                </mat-error>    
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <select matNativeControl formControlName="gender">
                        <option  *ngFor="let sex of genderType" [value]="sex">{{ sex }}</option>
                    </select>
                </mat-form-field>
                <mat-error *ngIf="f['gender'].touched && f['gender'].invalid">
                    <small *ngIf="f['gender'].errors?.['required']">
                        Gender is required.
                    </small>
                </mat-error>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Phone Number</mat-label>
                    <span matPrefix>+234 &nbsp;</span>
                    <input type="tel" formControlName="phone" placeholder="eg. 7045293426" matInput>
                </mat-form-field>
                <mat-error *ngIf="(f['phone'].touched || f['phone'].dirty) && f['phone'].invalid">
                    <small *ngIf="f['phone']?.errors['required']">
                        Phone number is required.
                    </small>
                    <small *ngIf="f['phone']?.errors['pattern']">
                         Enter valid Phone number  format.
                    </small>
                    <small *ngIf="f['phone']?.errors['minlength'] && !f['phone']?.errors['pattern']">
                        Enter your 10 digit phone number.
                   </small>
                   <small *ngIf="f['phone']?.errors['maxlength'] && !f['phone']?.errors['pattern']">
                        Phone number must be 10 digits.
                    </small>
                </mat-error>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" formControlName="email" matInput>
                </mat-form-field>
                <mat-error *ngIf="f['email'].touched && f['email'].invalid">
                    <small *ngIf="f['email'].errors['required']">
                        Email is required.
                    </small>
                    <small *ngIf="f['email'].errors['email']">
                        Please enter valid email.
                    </small>
                </mat-error>
            </p>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="{{passwordType}}" id="password" formControlName="password" matInput>
                        <i [ngClass]="pass_eyeToggle" (click)="passToggleEyeIcon()" style="margin-left: -35px;"></i>
                    </mat-form-field>
                    <mat-error *ngIf="f['password'].touched && f['password'].invalid">
                        <small *ngIf="f['password'].errors['required']">
                            Password is required.
                        </small>
                        <small *ngIf="f['password'].errors['minlength']">
                            Password must be 5 characters or more.
                        </small>
                    </mat-error>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input type="{{cpasswordType}}" id="cpassword" formControlName="cpassword" matInput>
                        <i [ngClass]="cpass_eyeToggle" (click)="cpassToggleEyeIcon()" style="margin-left: -35px;"></i>
                    </mat-form-field>
                    <mat-error *ngIf="f['cpassword'].touched && f['cpassword'].invalid && !signupForm.errors">
                        <small *ngIf="f['cpassword'].errors['required']">
                            Re-type Password.
                        </small>
                    </mat-error>
                    <mat-error *ngIf="f['password'].valid && f['cpassword'].dirty && signupForm.errors"> 
                        <small>
                            Password does not match.
                        </small>
                    </mat-error>
                </div>  
            </div>
            <p fxLayout.lt-sm="column">
                <button mat-button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Register</button> &nbsp;
                <i>Already registered?<a [routerLink]="['/login']" color="primary"> Login</a></i>
            </p>
            <div>
                <div *ngIf="errorMsg" class="full-width fa fa-exclamation-triangle alert alert-danger msg-font"><b>Error</b>: {{ errorMsg }}</div>
                <div *ngIf="successMsg" class="full-width fa fa-check-circle alert alert-success msg-font"><b>Success</b>: {{ successMsg }}</div>
            </div>
            <br>
        </form>
    </div>
    <div class="container" id="spinner" [ngStyle]="{'display':spinning}" >
        <mat-spinner></mat-spinner>
        <h4>Saving.....</h4>
    </div>
    
</div>
