 <div class="container-fluid">
    <table class="table table-bordered border-primary align-middle mb-0 bg-white">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="users">
            <tr *ngFor="let user of users">
                <td>{{user.lastname}} {{user.firstname}} {{user.middlename}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.score}}</td>
                <td>
                    <button class="btn btn-link bg-warning btn-md text-white">Edit</button>
                    <button class="btn btn-link btn-md bg-dark text-white" (click)="retakeTest(user._id)">Retake</button>
                    <button class="btn btn-link text-danger fa fa-trash fa-lg" (click)="deleteData(user._id)"></button>

                </td>
            </tr>
        </tbody>
     </table>
     <h4 class="no-record" *ngIf="!users">No records found</h4>
 </div>
 
