
.footer-content  {
    background-color: #0d0d16;
    min-height: 7%;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.author {
    color: white;
    margin: 10px;
    font-size: 14px;
}

